
.main{
  display: flex;
  justify-content: center;
  margin-left: 27%;
  /* margin-top: 10%; */
  
  /* align-content: center; */
  /* padding-left: 30PX; */
  /* margin-top: 5rem; */


}
@media only screen and (max-width: 450px) {
     .main{
    /* background-color: lightblue; */
    
     display: flex;
     justify-content: center;
     margin-left: 0;
  }
}